@font-face {
  font-family: "custom-icon"; /* Project id 5003414 */
  src: url('iconfont.woff2?t=1756510440364') format('woff2'),
       url('iconfont.woff?t=1756510440364') format('woff'),
       url('iconfont.ttf?t=1756510440364') format('truetype');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-voicefill:before {
  content: "\e6f0";
}

.custom-icon-group_light:before {
  content: "\e818";
}

.custom-icon-friendfavor:before {
  content: "\e6f1";
}

.custom-icon-location_light:before {
  content: "\e819";
}

.custom-icon-wifi:before {
  content: "\e6f2";
}

.custom-icon-attention_light:before {
  content: "\e81a";
}

.custom-icon-share:before {
  content: "\e6f3";
}

.custom-icon-group_fill_light:before {
  content: "\e81b";
}

.custom-icon-wefill:before {
  content: "\e6f4";
}

.custom-icon-group_fill:before {
  content: "\e81c";
}

.custom-icon-we:before {
  content: "\e6f5";
}

.custom-icon-play_forward_fill:before {
  content: "\e81d";
}

.custom-icon-lightauto:before {
  content: "\e6f6";
}

.custom-icon-subscription_light:before {
  content: "\e81e";
}

.custom-icon-lightforbid:before {
  content: "\e6f7";
}

.custom-icon-deliver_fill:before {
  content: "\e81f";
}

.custom-icon-lightfill:before {
  content: "\e6f8";
}

.custom-icon-notice_forbid_fill:before {
  content: "\e820";
}

.custom-icon-camerarotate:before {
  content: "\e6f9";
}

.custom-icon-qr_code_light:before {
  content: "\e821";
}

.custom-icon-light:before {
  content: "\e6fa";
}

.custom-icon-settings_light:before {
  content: "\e822";
}

.custom-icon-barcode:before {
  content: "\e6fb";
}

.custom-icon-pick:before {
  content: "\e823";
}

.custom-icon-flashlightclose:before {
  content: "\e6fc";
}

.custom-icon-form_favor_light:before {
  content: "\e824";
}

.custom-icon-flashlightopen:before {
  content: "\e6fd";
}

.custom-icon-round_comment_light:before {
  content: "\e825";
}

.custom-icon-searchlist:before {
  content: "\e6fe";
}

.custom-icon-phone_light:before {
  content: "\e826";
}

.custom-icon-service:before {
  content: "\e6ff";
}

.custom-icon-round_down_light:before {
  content: "\e827";
}

.custom-icon-sort:before {
  content: "\e700";
}

.custom-icon-friend_settings_light:before {
  content: "\e828";
}

.custom-icon-1212:before {
  content: "\e702";
}

.custom-icon-change:before {
  content: "\e829";
}

.custom-icon-down:before {
  content: "\e703";
}

.custom-icon-round_list_light:before {
  content: "\e82a";
}

.custom-icon-mobile:before {
  content: "\e704";
}

.custom-icon-ticket_fill:before {
  content: "\e82b";
}

.custom-icon-mobilefill:before {
  content: "\e705";
}

.custom-icon-round_friend_fill:before {
  content: "\e82c";
}

.custom-icon-copy:before {
  content: "\e706";
}

.custom-icon-round_crown_fill:before {
  content: "\e82d";
}

.custom-icon-countdownfill:before {
  content: "\e707";
}

.custom-icon-round_link_fill:before {
  content: "\e82e";
}

.custom-icon-countdown:before {
  content: "\e708";
}

.custom-icon-round_light_fill:before {
  content: "\e82f";
}

.custom-icon-noticefill:before {
  content: "\e709";
}

.custom-icon-round_favor_fill:before {
  content: "\e830";
}

.custom-icon-notice:before {
  content: "\e70a";
}

.custom-icon-round_menu_fill:before {
  content: "\e831";
}

.custom-icon-qiang:before {
  content: "\e70b";
}

.custom-icon-round_location_fill:before {
  content: "\e832";
}

.custom-icon-upstagefill:before {
  content: "\e70e";
}

.custom-icon-round_pay_fill:before {
  content: "\e833";
}

.custom-icon-upstage:before {
  content: "\e70f";
}

.custom-icon-round_like_fill:before {
  content: "\e834";
}

.custom-icon-babyfill:before {
  content: "\e710";
}

.custom-icon-round_people_fill:before {
  content: "\e835";
}

.custom-icon-baby:before {
  content: "\e711";
}

.custom-icon-round_pay:before {
  content: "\e836";
}

.custom-icon-brandfill:before {
  content: "\e712";
}

.custom-icon-round_rank_fill:before {
  content: "\e837";
}

.custom-icon-brand:before {
  content: "\e713";
}

.custom-icon-round_redpacket_fill:before {
  content: "\e838";
}

.custom-icon-choicenessfill:before {
  content: "\e714";
}

.custom-icon-round_skin_fill:before {
  content: "\e839";
}

.custom-icon-choiceness:before {
  content: "\e715";
}

.custom-icon-round_record_fill:before {
  content: "\e83a";
}

.custom-icon-clothesfill:before {
  content: "\e716";
}

.custom-icon-round_ticket_fill:before {
  content: "\e83b";
}

.custom-icon-clothes:before {
  content: "\e717";
}

.custom-icon-round_redpacket:before {
  content: "\e83c";
}

.custom-icon-creativefill:before {
  content: "\e718";
}

.custom-icon-round_text_fill:before {
  content: "\e83d";
}

.custom-icon-creative:before {
  content: "\e719";
}

.custom-icon-round_ticket:before {
  content: "\e83e";
}

.custom-icon-female:before {
  content: "\e71a";
}

.custom-icon-round_transfer_fill:before {
  content: "\e83f";
}

.custom-icon-keyboard:before {
  content: "\e71b";
}

.custom-icon-subtitle_block_light:before {
  content: "\e840";
}

.custom-icon-male:before {
  content: "\e71c";
}

.custom-icon-warn_light:before {
  content: "\e841";
}

.custom-icon-newfill:before {
  content: "\e71d";
}

.custom-icon-round_transfer:before {
  content: "\e842";
}

.custom-icon-new:before {
  content: "\e71e";
}

.custom-icon-vip_code_light:before {
  content: "\e843";
}

.custom-icon-pullleft:before {
  content: "\e71f";
}

.custom-icon-subtitle_unblock_light:before {
  content: "\e844";
}

.custom-icon-pullright:before {
  content: "\e720";
}

.custom-icon-round_shop_fill:before {
  content: "\e845";
}

.custom-icon-rankfill:before {
  content: "\e721";
}

.custom-icon-oppose_fill_light:before {
  content: "\e846";
}

.custom-icon-rank:before {
  content: "\e722";
}

.custom-icon-oppose_light:before {
  content: "\e847";
}

.custom-icon-bad:before {
  content: "\e723";
}

.custom-icon-living:before {
  content: "\e848";
}

.custom-icon-cameraadd:before {
  content: "\e724";
}

.custom-icon-goods_hot_fill:before {
  content: "\e849";
}

.custom-icon-focus:before {
  content: "\e725";
}

.custom-icon-ticket_money_fill:before {
  content: "\e84a";
}

.custom-icon-friendfill:before {
  content: "\e726";
}

.custom-icon-arrow_left_fill:before {
  content: "\e84b";
}

.custom-icon-cameraaddfill:before {
  content: "\e727";
}

.custom-icon-arrow_up_fill:before {
  content: "\e84c";
}

.custom-icon-apps:before {
  content: "\e729";
}

.custom-icon-xiaoheiqun:before {
  content: "\e84d";
}

.custom-icon-paintfill:before {
  content: "\e72a";
}

.custom-icon-auction:before {
  content: "\e84e";
}

.custom-icon-paint:before {
  content: "\e72b";
}

.custom-icon-return:before {
  content: "\e84f";
}

.custom-icon-picfill:before {
  content: "\e72c";
}

.custom-icon-mall_light:before {
  content: "\e850";
}

.custom-icon-refresharrow:before {
  content: "\e72d";
}

.custom-icon-mall_fill_light:before {
  content: "\e851";
}

.custom-icon-markfill:before {
  content: "\e730";
}

.custom-icon-broadcast_fill:before {
  content: "\e852";
}

.custom-icon-mark:before {
  content: "\e731";
}

.custom-icon-at:before {
  content: "\e853";
}

.custom-icon-presentfill:before {
  content: "\e732";
}

.custom-icon-card_fill:before {
  content: "\e854";
}

.custom-icon-repeal:before {
  content: "\e733";
}

.custom-icon-album:before {
  content: "\e734";
}

.custom-icon-peoplefill:before {
  content: "\e735";
}

.custom-icon-people:before {
  content: "\e736";
}

.custom-icon-servicefill:before {
  content: "\e737";
}

.custom-icon-repair:before {
  content: "\e738";
}

.custom-icon-file:before {
  content: "\e739";
}

.custom-icon-repairfill:before {
  content: "\e73a";
}

.custom-icon-taoxiaopu:before {
  content: "\e73b";
}

.custom-icon-attentionfill:before {
  content: "\e73c";
}

.custom-icon-attention:before {
  content: "\e73d";
}

.custom-icon-commandfill:before {
  content: "\e73e";
}

.custom-icon-command:before {
  content: "\e73f";
}

.custom-icon-communityfill:before {
  content: "\e740";
}

.custom-icon-community:before {
  content: "\e741";
}

.custom-icon-read:before {
  content: "\e742";
}

.custom-icon-suan:before {
  content: "\e743";
}

.custom-icon-hua:before {
  content: "\e744";
}

.custom-icon-ju:before {
  content: "\e745";
}

.custom-icon-tian:before {
  content: "\e748";
}

.custom-icon-calendar:before {
  content: "\e74a";
}

.custom-icon-cut:before {
  content: "\e74b";
}

.custom-icon-magic:before {
  content: "\e74c";
}

.custom-icon-backwardfill:before {
  content: "\e74d";
}

.custom-icon-playfill:before {
  content: "\e74f";
}

.custom-icon-stop:before {
  content: "\e750";
}

.custom-icon-tagfill:before {
  content: "\e751";
}

.custom-icon-tag:before {
  content: "\e752";
}

.custom-icon-group:before {
  content: "\e753";
}

.custom-icon-all:before {
  content: "\e755";
}

.custom-icon-backdelete:before {
  content: "\e756";
}

.custom-icon-hotfill:before {
  content: "\e757";
}

.custom-icon-hot:before {
  content: "\e758";
}

.custom-icon-post:before {
  content: "\e759";
}

.custom-icon-radiobox:before {
  content: "\e75b";
}

.custom-icon-rounddown:before {
  content: "\e75c";
}

.custom-icon-upload:before {
  content: "\e75d";
}

.custom-icon-writefill:before {
  content: "\e760";
}

.custom-icon-write:before {
  content: "\e761";
}

.custom-icon-radioboxfill:before {
  content: "\e763";
}

.custom-icon-punch:before {
  content: "\e764";
}

.custom-icon-shake:before {
  content: "\e765";
}

.custom-icon-add1:before {
  content: "\e767";
}

.custom-icon-move:before {
  content: "\e768";
}

.custom-icon-safe:before {
  content: "\e769";
}

.custom-icon-haodian:before {
  content: "\e76d";
}

.custom-icon-mao:before {
  content: "\e76e";
}

.custom-icon-qi:before {
  content: "\e76f";
}

.custom-icon-ye:before {
  content: "\e770";
}

.custom-icon-juhuasuan:before {
  content: "\e771";
}

.custom-icon-taoqianggou:before {
  content: "\e772";
}

.custom-icon-tianmao:before {
  content: "\e773";
}

.custom-icon-activityfill:before {
  content: "\e775";
}

.custom-icon-crownfill:before {
  content: "\e776";
}

.custom-icon-crown:before {
  content: "\e777";
}

.custom-icon-goodsfill:before {
  content: "\e778";
}

.custom-icon-messagefill:before {
  content: "\e779";
}

.custom-icon-profilefill:before {
  content: "\e77a";
}

.custom-icon-sound:before {
  content: "\e77b";
}

.custom-icon-sponsorfill:before {
  content: "\e77c";
}

.custom-icon-sponsor:before {
  content: "\e77d";
}

.custom-icon-upblock:before {
  content: "\e77e";
}

.custom-icon-weblock:before {
  content: "\e77f";
}

.custom-icon-weunblock:before {
  content: "\e780";
}

.custom-icon-1111:before {
  content: "\e782";
}

.custom-icon-my:before {
  content: "\e78b";
}

.custom-icon-myfill:before {
  content: "\e78c";
}

.custom-icon-emojifill:before {
  content: "\e78d";
}

.custom-icon-emojiflashfill:before {
  content: "\e78e";
}

.custom-icon-flashbuyfill-copy:before {
  content: "\e78f";
}

.custom-icon-text:before {
  content: "\e791";
}

.custom-icon-goodsfavor:before {
  content: "\e794";
}

.custom-icon-musicfill:before {
  content: "\e795";
}

.custom-icon-musicforbidfill:before {
  content: "\e796";
}

.custom-icon-xiamiforbid:before {
  content: "\e797";
}

.custom-icon-xiami:before {
  content: "\e798";
}

.custom-icon-roundleftfill:before {
  content: "\e799";
}

.custom-icon-triangledownfill:before {
  content: "\e79b";
}

.custom-icon-appreciate:before {
  content: "\e644";
}

.custom-icon-triangleupfill:before {
  content: "\e79c";
}

.custom-icon-check:before {
  content: "\e645";
}

.custom-icon-roundleftfill-copy:before {
  content: "\e79e";
}

.custom-icon-close:before {
  content: "\e646";
}

.custom-icon-pulldown1:before {
  content: "\e79f";
}

.custom-icon-edit:before {
  content: "\e649";
}

.custom-icon-emojilight:before {
  content: "\e7a1";
}

.custom-icon-emoji:before {
  content: "\e64a";
}

.custom-icon-keyboardlight:before {
  content: "\e7a3";
}

.custom-icon-favorfill:before {
  content: "\e64b";
}

.custom-icon-recordfill:before {
  content: "\e7a4";
}

.custom-icon-favor:before {
  content: "\e64c";
}

.custom-icon-recordlight:before {
  content: "\e7a5";
}

.custom-icon-loading:before {
  content: "\e64f";
}

.custom-icon-record:before {
  content: "\e7a6";
}

.custom-icon-locationfill:before {
  content: "\e650";
}

.custom-icon-roundaddlight:before {
  content: "\e7a7";
}

.custom-icon-location:before {
  content: "\e651";
}

.custom-icon-soundlight:before {
  content: "\e7a8";
}

.custom-icon-phone:before {
  content: "\e652";
}

.custom-icon-cardboardfill:before {
  content: "\e7a9";
}

.custom-icon-roundcheckfill:before {
  content: "\e656";
}

.custom-icon-cardboard:before {
  content: "\e7aa";
}

.custom-icon-roundcheck:before {
  content: "\e657";
}

.custom-icon-formfill:before {
  content: "\e7ab";
}

.custom-icon-roundclosefill:before {
  content: "\e658";
}

.custom-icon-coin:before {
  content: "\e7ac";
}

.custom-icon-roundclose:before {
  content: "\e659";
}

.custom-icon-sortlight:before {
  content: "\e7ad";
}

.custom-icon-roundrightfill:before {
  content: "\e65a";
}

.custom-icon-cardboardforbid:before {
  content: "\e7af";
}

.custom-icon-roundright:before {
  content: "\e65b";
}

.custom-icon-circlefill:before {
  content: "\e7b0";
}

.custom-icon-search:before {
  content: "\e65c";
}

.custom-icon-circle:before {
  content: "\e7b1";
}

.custom-icon-taxi:before {
  content: "\e65d";
}

.custom-icon-attentionforbid:before {
  content: "\e7b2";
}

.custom-icon-timefill:before {
  content: "\e65e";
}

.custom-icon-attentionforbidfill:before {
  content: "\e7b3";
}

.custom-icon-time:before {
  content: "\e65f";
}

.custom-icon-attentionfavorfill:before {
  content: "\e7b4";
}

.custom-icon-unfold:before {
  content: "\e661";
}

.custom-icon-attentionfavor:before {
  content: "\e7b5";
}

.custom-icon-warnfill:before {
  content: "\e662";
}

.custom-icon-piclight:before {
  content: "\e7b7";
}

.custom-icon-warn:before {
  content: "\e663";
}

.custom-icon-shoplight:before {
  content: "\e7b8";
}

.custom-icon-camerafill:before {
  content: "\e664";
}

.custom-icon-voicelight:before {
  content: "\e7b9";
}

.custom-icon-camera:before {
  content: "\e665";
}

.custom-icon-attentionfavorfill-copy:before {
  content: "\e7ba";
}

.custom-icon-commentfill:before {
  content: "\e666";
}

.custom-icon-full:before {
  content: "\e7bc";
}

.custom-icon-comment:before {
  content: "\e667";
}

.custom-icon-mail:before {
  content: "\e7bd";
}

.custom-icon-likefill:before {
  content: "\e668";
}

.custom-icon-peoplelist:before {
  content: "\e7be";
}

.custom-icon-like:before {
  content: "\e669";
}

.custom-icon-goodsnewfill:before {
  content: "\e7bf";
}

.custom-icon-notificationfill:before {
  content: "\e66a";
}

.custom-icon-goodsnew:before {
  content: "\e7c0";
}

.custom-icon-notification:before {
  content: "\e66b";
}

.custom-icon-medalfill:before {
  content: "\e7c1";
}

.custom-icon-order:before {
  content: "\e66c";
}

.custom-icon-medal:before {
  content: "\e7c2";
}

.custom-icon-samefill:before {
  content: "\e66d";
}

.custom-icon-newsfill:before {
  content: "\e7c3";
}

.custom-icon-same:before {
  content: "\e66e";
}

.custom-icon-newshotfill:before {
  content: "\e7c4";
}

.custom-icon-deliver:before {
  content: "\e671";
}

.custom-icon-newshot:before {
  content: "\e7c5";
}

.custom-icon-evaluate:before {
  content: "\e672";
}

.custom-icon-news:before {
  content: "\e7c6";
}

.custom-icon-pay:before {
  content: "\e673";
}

.custom-icon-videofill:before {
  content: "\e7c7";
}

.custom-icon-send:before {
  content: "\e675";
}

.custom-icon-video:before {
  content: "\e7c8";
}

.custom-icon-shop:before {
  content: "\e676";
}

.custom-icon-askfill:before {
  content: "\e7c9";
}

.custom-icon-ticket:before {
  content: "\e677";
}

.custom-icon-ask:before {
  content: "\e7ca";
}

.custom-icon-wang:before {
  content: "\e678";
}

.custom-icon-exit:before {
  content: "\e7cb";
}

.custom-icon-back:before {
  content: "\e679";
}

.custom-icon-skinfill:before {
  content: "\e7cc";
}

.custom-icon-cascades:before {
  content: "\e67c";
}

.custom-icon-skin:before {
  content: "\e7cd";
}

.custom-icon-discover:before {
  content: "\e67e";
}

.custom-icon-moneybagfill:before {
  content: "\e7ce";
}

.custom-icon-list:before {
  content: "\e682";
}

.custom-icon-usefullfill:before {
  content: "\e7cf";
}

.custom-icon-more:before {
  content: "\e684";
}

.custom-icon-usefull:before {
  content: "\e7d0";
}

.custom-icon-scan:before {
  content: "\e689";
}

.custom-icon-moneybag:before {
  content: "\e7d1";
}

.custom-icon-settings:before {
  content: "\e68a";
}

.custom-icon-redpacket_fill:before {
  content: "\e7d3";
}

.custom-icon-questionfill:before {
  content: "\e690";
}

.custom-icon-subscription:before {
  content: "\e7d4";
}

.custom-icon-question:before {
  content: "\e691";
}

.custom-icon-home_light:before {
  content: "\e7d5";
}

.custom-icon-shopfill:before {
  content: "\e697";
}

.custom-icon-my_light:before {
  content: "\e7d6";
}

.custom-icon-form:before {
  content: "\e699";
}

.custom-icon-community_light:before {
  content: "\e7d7";
}

.custom-icon-wangfill:before {
  content: "\e69a";
}

.custom-icon-cart_light:before {
  content: "\e7d8";
}

.custom-icon-pic:before {
  content: "\e69b";
}

.custom-icon-we_light:before {
  content: "\e7d9";
}

.custom-icon-filter:before {
  content: "\e69c";
}

.custom-icon-home_fill_light:before {
  content: "\e7da";
}

.custom-icon-footprint:before {
  content: "\e69d";
}

.custom-icon-cart_fill_light:before {
  content: "\e7db";
}

.custom-icon-top:before {
  content: "\e69e";
}

.custom-icon-community_fill_light:before {
  content: "\e7dc";
}

.custom-icon-pulldown:before {
  content: "\e69f";
}

.custom-icon-my_fill_light:before {
  content: "\e7dd";
}

.custom-icon-pullup:before {
  content: "\e6a0";
}

.custom-icon-we_fill_light:before {
  content: "\e7de";
}

.custom-icon-right:before {
  content: "\e6a3";
}

.custom-icon-skin_light:before {
  content: "\e7df";
}

.custom-icon-refresh:before {
  content: "\e6a4";
}

.custom-icon-search_light:before {
  content: "\e7e0";
}

.custom-icon-moreandroid:before {
  content: "\e6a5";
}

.custom-icon-scan_light:before {
  content: "\e7e1";
}

.custom-icon-deletefill:before {
  content: "\e6a6";
}

.custom-icon-people_list_light:before {
  content: "\e7e2";
}

.custom-icon-refund:before {
  content: "\e6ac";
}

.custom-icon-message_light:before {
  content: "\e7e3";
}

.custom-icon-cart:before {
  content: "\e6af";
}

.custom-icon-close_light:before {
  content: "\e7e4";
}

.custom-icon-qrcode:before {
  content: "\e6b0";
}

.custom-icon-add_light:before {
  content: "\e7e5";
}

.custom-icon-remind:before {
  content: "\e6b2";
}

.custom-icon-profile_light:before {
  content: "\e7e6";
}

.custom-icon-delete:before {
  content: "\e6b4";
}

.custom-icon-service_light:before {
  content: "\e7e7";
}

.custom-icon-profile:before {
  content: "\e6b7";
}

.custom-icon-friend_add_light:before {
  content: "\e7e8";
}

.custom-icon-home:before {
  content: "\e6b8";
}

.custom-icon-edit_light:before {
  content: "\e7e9";
}

.custom-icon-cartfill:before {
  content: "\e6b9";
}

.custom-icon-camera_light:before {
  content: "\e7ea";
}

.custom-icon-discoverfill:before {
  content: "\e6ba";
}

.custom-icon-hot_light:before {
  content: "\e7eb";
}

.custom-icon-homefill:before {
  content: "\e6bb";
}

.custom-icon-refresh_light:before {
  content: "\e7ec";
}

.custom-icon-message:before {
  content: "\e6bc";
}

.custom-icon-back_light:before {
  content: "\e7ed";
}

.custom-icon-addressbook:before {
  content: "\e6bd";
}

.custom-icon-share_light:before {
  content: "\e7ee";
}

.custom-icon-link:before {
  content: "\e6bf";
}

.custom-icon-comment_light:before {
  content: "\e7ef";
}

.custom-icon-lock:before {
  content: "\e6c0";
}

.custom-icon-appreciate_light:before {
  content: "\e7f0";
}

.custom-icon-unlock:before {
  content: "\e6c2";
}

.custom-icon-favor_light:before {
  content: "\e7f1";
}

.custom-icon-vip:before {
  content: "\e6c3";
}

.custom-icon-appreciate_fill_light:before {
  content: "\e7f2";
}

.custom-icon-weibo:before {
  content: "\e6c4";
}

.custom-icon-comment_fill_light:before {
  content: "\e7f3";
}

.custom-icon-activity:before {
  content: "\e6c5";
}

.custom-icon-wang_light:before {
  content: "\e7f4";
}

.custom-icon-big:before {
  content: "\e6c7";
}

.custom-icon-more_android_light:before {
  content: "\e7f5";
}

.custom-icon-friendaddfill:before {
  content: "\e6c9";
}

.custom-icon-friend_light:before {
  content: "\e7f6";
}

.custom-icon-friendadd:before {
  content: "\e6ca";
}

.custom-icon-more_light:before {
  content: "\e7f7";
}

.custom-icon-friendfamous:before {
  content: "\e6cb";
}

.custom-icon-goods_favor_light:before {
  content: "\e7f8";
}

.custom-icon-friend:before {
  content: "\e6cc";
}

.custom-icon-goods_new_fill_light:before {
  content: "\e7f9";
}

.custom-icon-goods:before {
  content: "\e6cd";
}

.custom-icon-goods_new_light:before {
  content: "\e7fa";
}

.custom-icon-selection:before {
  content: "\e6ce";
}

.custom-icon-goods_light:before {
  content: "\e7fb";
}

.custom-icon-tmall:before {
  content: "\e6cf";
}

.custom-icon-medal_fill_light:before {
  content: "\e7fc";
}

.custom-icon-explore:before {
  content: "\e6d2";
}

.custom-icon-medal_light:before {
  content: "\e7fd";
}

.custom-icon-present:before {
  content: "\e6d3";
}

.custom-icon-news_fill_light:before {
  content: "\e7fe";
}

.custom-icon-squarecheckfill:before {
  content: "\e6d4";
}

.custom-icon-news_hot_fill_light:before {
  content: "\e7ff";
}

.custom-icon-square:before {
  content: "\e6d5";
}

.custom-icon-news_hot_light:before {
  content: "\e800";
}

.custom-icon-squarecheck:before {
  content: "\e6d6";
}

.custom-icon-news_light:before {
  content: "\e801";
}

.custom-icon-round:before {
  content: "\e6d7";
}

.custom-icon-video_fill_light:before {
  content: "\e802";
}

.custom-icon-roundaddfill:before {
  content: "\e6d8";
}

.custom-icon-message_fill_light:before {
  content: "\e803";
}

.custom-icon-roundadd:before {
  content: "\e6d9";
}

.custom-icon-form_light:before {
  content: "\e804";
}

.custom-icon-add:before {
  content: "\e6da";
}

.custom-icon-video_light:before {
  content: "\e805";
}

.custom-icon-notificationforbidfill:before {
  content: "\e6db";
}

.custom-icon-search_list_light:before {
  content: "\e806";
}

.custom-icon-explorefill:before {
  content: "\e6dd";
}

.custom-icon-form_fill_light:before {
  content: "\e807";
}

.custom-icon-fold:before {
  content: "\e6de";
}

.custom-icon-global_light:before {
  content: "\e808";
}

.custom-icon-game:before {
  content: "\e6df";
}

.custom-icon-global:before {
  content: "\e809";
}

.custom-icon-redpacket:before {
  content: "\e6e0";
}

.custom-icon-favor_fill_light:before {
  content: "\e80a";
}

.custom-icon-selectionfill:before {
  content: "\e6e1";
}

.custom-icon-delete_light:before {
  content: "\e80b";
}

.custom-icon-similar:before {
  content: "\e6e2";
}

.custom-icon-back_android:before {
  content: "\e80c";
}

.custom-icon-appreciatefill:before {
  content: "\e6e3";
}

.custom-icon-back_android_light:before {
  content: "\e80d";
}

.custom-icon-infofill:before {
  content: "\e6e4";
}

.custom-icon-down_light:before {
  content: "\e80e";
}

.custom-icon-info:before {
  content: "\e6e5";
}

.custom-icon-round_close_light:before {
  content: "\e80f";
}

.custom-icon-tao:before {
  content: "\e6e8";
}

.custom-icon-round_close_fill_light:before {
  content: "\e810";
}

.custom-icon-mobiletao:before {
  content: "\e6e9";
}

.custom-icon-expressman:before {
  content: "\e811";
}

.custom-icon-forwardfill:before {
  content: "\e6ea";
}

.custom-icon-punch_light:before {
  content: "\e812";
}

.custom-icon-forward:before {
  content: "\e6eb";
}

.custom-icon-evaluate_fill:before {
  content: "\e813";
}

.custom-icon-rechargefill:before {
  content: "\e6ec";
}

.custom-icon-furniture:before {
  content: "\e814";
}

.custom-icon-recharge:before {
  content: "\e6ed";
}

.custom-icon-dress:before {
  content: "\e815";
}

.custom-icon-vipcard:before {
  content: "\e6ee";
}

.custom-icon-coffee:before {
  content: "\e816";
}

.custom-icon-voice:before {
  content: "\e6ef";
}

.custom-icon-sports:before {
  content: "\e817";
}

